@import 'reset';
@import 'bootstrap';

body {
  background-image: url("./images/background.jpg");
  margin: 11px;
}

.jumbotron {
  background: rgba(254, 254, 254, 0.2);
  color: #FFFFFF;
  margin: 11px;
  padding: 48px;
}

.posterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Poster {
  margin: 20px;
}
.panel {
  border: 0;
}
.panel-body {
  padding: 0;
}