@import 'reset';
@import 'bootstrap';
$mainOrange: #C8552F;

body {
  background-image: url("./images/background.jpg");
  margin: 11px;
}

.jumbotron {
  background: rgba(20, 20, 20, 0.7);
  color: $mainOrange;
  margin: 11px;
  padding: 48px;
}

.posterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Poster {
  margin: 20px;
}
.panel {
  border: 0;
}
.panel-body {
  padding: 0;
}